<!-- Load static files -->
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Chat Site</title>
		<!-- Include the stylesheet -->
		<link href="{% static 'css/chat.css' %}" rel="stylesheet" />

	</head>
	<body>
		<!-- Display a welcome message with the username -->
		<center>
			<h1>Hello, Welcome to my chat site! {{ request.user }}</h1>
		</center>
		<br>
		<!-- Show logout link if the user is authenticated -->
		{% if request.user.is_authenticated %}
			<center> Logout the chat Page <a href="{% url 'logout-user' %}">Logout</a></center>
		{% endif %}
		<!-- Chat container -->
		<div class="chat__item__container"
			 id="id_chat_item_container"
			 style="font-size: 20px">
			<br />
			<!-- Input field for sending messages -->
			<input type="text" id="id_message_send_input" />
			<button type="submit" id="id_message_send_button">Send Message</button>
			<br />
			<br />
		</div>
		<!-- JavaScript code -->
		<script>
		// Create a WebSocket connection to the server
		const chatSocket = new WebSocket("ws://" + window.location.host + "/");
		
		// WebSocket connection opened
		chatSocket.onopen = function (e) {
			console.log("The connection was set up successfully!");
		};
		
		// WebSocket connection closed
		chatSocket.onclose = function (e) {
			console.log("Something unexpected happened!");
		};
		
		// Focus on the input field when the page loads
		document.querySelector("#id_message_send_input").focus();
		
		// Send message when Enter key is pressed
		document.querySelector("#id_message_send_input").onkeyup = function (e) {
			if (e.keyCode == 13) {
				document.querySelector("#id_message_send_button").click();
			}
		};
		
		// Send message when Send Message button is clicked
		document.querySelector("#id_message_send_button").onclick = function (e) {
			var messageInput = document.querySelector("#id_message_send_input").value;
			chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}" }));
		};
		
		// Receive and display messages from the server
		chatSocket.onmessage = function (e) {
			const data = JSON.parse(e.data);
			var div = document.createElement("div");
			div.className = "chat__item";
			div.innerHTML = `<span class="chat__item__username">${data.username}</span>: <span class="chat__item__message">${data.message}</span>`;
			document.querySelector("#id_message_send_input").value = "";
			document.querySelector("#id_chat_item_container").appendChild(div);
		};
		</script>
	</body>
</html>
